.mainImage {
    height: 100vh;
}

.title {
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 57px;
    padding-top: 180px;
    text-align: center;
    justify-content: center;
    color: white;
}

.titleLine {
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    padding: 2px 50px;
    text-align: center;
    justify-content: center;
    color: white;
}
