.header {

    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 2rem 0 1rem;
}

.link {
    color: #999999;
}

.nav-list {
    max-width: 1250px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 5px;
}
.nav-item {
    margin-right: 35px;
    text-align: center;
    text-decoration: none;
    color: grey;
    font-size: 19px;
}

.nav-item:hover {
    color: rgb(195, 61, 207);
}

.nav-item:active {
    color: rgb(195, 61, 207);
}

@media screen and (max-width:500px){
    .nav-list {
        justify-content: center;
    }
}


@media screen and (max-width:500px){
    .nav-item {
        display: block;
      font-size: 17px;
    }
}

@media screen and (max-width:321px){
    .nav-list {
        justify-content: center;
    }
}

@media screen and (max-width:321px){
    .nav-item {
        font-size: 16px;
    }
}