.header {

    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 2rem 0 1rem;
}

.link {
    color: #999999;
}

.mainNav {
    max-width: 1250px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 5px;
    padding-top: 15px;
}
.nav-item {
    text-align: center;
    text-decoration: none;
    color: grey;
    font-size: 19px;
}

.nav-item:hover {
    color: rgb(195, 61, 207);
}

.nav-item:active {
    color: rgb(195, 61, 207);
}

@media screen and (min-width:576px){
    .nav-list,
    .nav-item {
        justify-content: center;
        font-size: 22px;
    }
}

@media screen and (min-width:768px){
    .nav-list,
    .nav-item,
    .mainNav {
        display: flex;
        justify-content: flex-end;
        margin: 10px;
        font-size: 24px;
    }
}

@media screen and (min-width:992px){
    .nav-list,
    .nav-item,
    .mainNav {
        display: flex;
        justify-content: flex-end;
        font-size: 26px;
    }
}


